In [10]:
import pandas as pd

df = pd.read_excel('it_company_dataset_with_summary.xlsx')

# Print the first row
print(df["Country"])

0     Singapore
1     Australia
2         India
3         India
4     Australia
5        France
6           UAE
7       Germany
8     Australia
9           UAE
10      Germany
11    Australia
12       Canada
13          UAE
14           UK
15       France
16          UAE
17    Australia
18        India
19        Japan
20       Canada
21        Japan
22          UAE
23    Singapore
24    Singapore
25        Japan
26        India
27        India
28        India
29          USA
30        Japan
31          USA
32    Singapore
33           UK
34      Germany
35        India
36       France
37        Japan
38        Japan
39        Japan
40       France
41       France
42    Australia
43        Japan
44          UAE
45    Singapore
46        India
47        India
48          USA
49    Australia
50        Japan
51        India
52          USA
53    Australia
54          UAE
55          UAE
56    Australia
57      Germany
58    Singapore
59          UAE
Name: Country, dtype: object